<!-- intersection.component.html -->
<div class="intersection">
  <div class="light-container">
    <app-traffic-light #north class="north"></app-traffic-light>
  </div>

  <div class="light-container">
    <app-traffic-light #south class="south"></app-traffic-light>
  </div>

  <div class="light-container">
    <app-traffic-light #east class="east"></app-traffic-light>
  </div>

  <div class="light-container">
    <app-traffic-light #west class="west"></app-traffic-light>
  </div>

  <button
    class="panic-button"
    (click)="startPanicMode()"
    [disabled]="panicMode"
  >
    PANIC!
  </button>

  <button class="button-north" (click)="checkCross('north')">Cross</button>
  <button class="button-south" (click)="checkCross('south')">Cross</button>
  <button class="button-east" (click)="checkCross('east')">Cross</button>
  <button class="button-west" (click)="checkCross('west')">Cross</button>
</div>
